<html>
    <head>
        <title>Блог</title>
    </head>
    <body>
        <div>
            <h1><a href="/">ГовноБлог</a></h1>
        </div>

        <div>
            <p>Опубликованно: 17.10.2020, 17:44</p>
            <h2><a href="">Первый пост</a></h2>
            <p>Что мы действительно хотим, так это отображать существующие записи, добавленные через панель администратора Django; этим и займёмся в следующий раз.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>